h1{
  font-size: 2rem;
  text-align: center;
 
}
body{
  background-color: lightblue;

}
section{
  display: block;
  text-align: center;
}
#display{
  width: 16%;
  
}

ul{
  background-color: white;
  text-decoration: none;
  list-style: none;
  width:20%;
  border: 1px solid red;
  
}
button{
  color: red;
}
